<% provide(:title, @user.name) %>
<!-- where is it getting the @user data and how? -->
<!-- it gets it from the user_controller under def show -->
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>

